# 先忽略所有文件
*

# 允许进入所有子文件夹
!*/

# 不忽略 .gitignore 本身
!.gitignore

# 不忽略所有.cs文件（包括任意嵌套层级）
!**/*.cs
# 不忽略所有.xaml文件（包括任意嵌套层级）
!**/*.xaml
# 不忽略所有.xaml文件（包括任意嵌套层级）
!MainWindow/Template.gbxml
# 忽略所有obj文件夹及其内容
**/obj/